%div{"ng-controller" => "MainController as main"}
  =render 'carousel'
  %section#logo-section.text-center
    .container
      .row
        .col-md-12
          .logo.text-center
            =render_shareable :buttons=> ['twitter', 'facebook', 'tumblr']
            %span.glyphicon.glyphicon-bell{"style"=> "font-size:3em;", "data-target" => "#myModal", "data-toggle" => "modal"}
              Click the bell!
            %h1 Time to visit Russia
            %span
              %h2.logo
                If you ever thought of visiting Russia - this is the time.
                %br
                The ruble/USD exchange rate has never been so tempting, your visit would never be so affordable.
                %br
                Imagine the insane, like-a-boss possibilities you would have!
  / End Logo Section
  / Start Main Body Section
  .mainbody-section.text-center
    .container
      .row
        .col-md-6
          .menu-item.green
            %h4.feature Average Uber ride
            %h3.section-title {{300/usdRate | currency}}
          .menu-item.light-red
            %h4.feature Average restaurant dinner for two
            %h3.section-title {{3000/usdRate | currency}}
          .menu-item.color.responsive
            %h4.feature A bottle of Absolut vodka
            %h3.section-title {{681/usdRate | currency}}
        .col-md-6
          .menu-item.light-orange.responsive-2
            %h4.feature 1 night stay in a Hilton Hotel
            %h3.section-title {{6000/usdRate | currency}}
          .menu-item.blue
            %h4.feature A subway ticket
            %h3.section-title {{50/usdRate | currency}}
          .menu-item.blue
            %h4.feature Temperature in Moscow
            %h3.section-title {{weather}} °F
  / End Main Body Section
  / Start Copyright Section
  .copyright.text-center
    .container
      .row
        .col-md-12
          %div
            Design by
            %a{:href => "https://www.facebook.com/Shahriyar.Ahmed.Sohel", :target => "_blank"} Shahriyar Ahmed
            , Video by
            %a{href: "http://coub.com/view/150vaxw6"} Maxim Kazakov
            %p{'ng-bind-html'=> 'contactText'}
  / End Copyright Section
  / Start Feature Section
