<!DOCTYPE html>
<html>
<head>
  <title>VisitRussia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="visitRussia">
  <video autoplay loop class="bgvideo" id="bgvideo" poster="http://www.hillwoodmuseum.org/sites/default/files/styles/normal_page_slideshow/public/slideshow-images/IMG_0780%20resized_1.jpg?itok=_aahqNr5">
   <source src="http://storage.akamai.coub.com/get/bucket:12.21/p/coub/simple/cw_file/f4a04a7618e/a789c372da34015e2e193/iphone_1409760007_iphone.mp4" type="video/mp4"></source>
  </video>
  <audio autoplay preload loop>
    <source src="http://storage.akamai.coub.com/get/b12/p/audio_track/cw_file/e6c7489d370/7e7c8806e7c2a7d2db234/low_1414279516_1384578030_audio.mp3" type="audio/mp3"></source>
  </audio>

<%= yield %>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- tar -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4537949964419775"
     data-ad-slot="5108577846"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72763130-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
